@font-face {
  font-family: "Aleo-Regular";
  src: url("/fonts/Aleo-Regular.otf");
}

@font-face {
  font-family: "Aleo-Light";
  src: url("/fonts/Aleo-Light.otf");
}
@font-face {
  font-family: "Aleo-Italic";
  src: url("/fonts/Aleo-Italic.otf");
}

@font-face {
  font-family: "Aleo-Bold";
  src: url("/fonts/Aleo-Bold.otf");
}

@font-face {
  font-family: "Museosans-500";
  src: url("/fonts/museosans-500.otf");
}

@font-face {
  font-family: "Museosans-700";
  src: url("/fonts/MuseoSansCyrl_2.otf");
}