.wrap-menu{
  width: 100%;
  height: 100%;
  background: #feccb1; /* Old browsers */
  background: -moz-linear-gradient(left, #feccb1 0%, #fd5823 0%, #f17432 28%, #f17432 72%, #fd5823 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #feccb1 0%, #fd5823 0%, #f17432 28%, #f17432 72%, #fd5823 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #feccb1 0%, #fd5823 0%, #f17432 28%, #f17432 72%, #fd5823 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}